.pd{
    font-family: text;
    background-color: rgba(255, 255, 255, 0.247);
}
.modal-footer{
    justify-content: space-between;
}
@font-face {
    font-family: text;
    src: url(../fonts/Champagne\ &\ Limousines.ttf);
}

/*Cards*/
#cardGroup{
    justify-content: center;
}
.card-productos{
    background-image: unset;
    margin: 30px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}
.cardButton{
    right: 10%;
    bottom: 5%;
    padding: 5px;
    border-radius: 5px;
    border: solid white 1px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: right;
    transition-duration: 200ms;
}
.cardButton:hover{
    color: white;
    background-color: black;
    border-radius: 5px;
}

.cardImg{
    object-fit: cover;
    width: 300px;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 575px){
    .cardImg{
        margin-top: 20px;
    }
}
.nombreProducto{
    color: #4a4c76;
    font-weight: 300;
}
.precioProducto{
    padding: 5px;
    color: rgb(194, 0, 0);
    font-weight: 700;
    position: relative;
    right: auto;
    left: auto;
}
.descripcionProducto{
    font-size: 15px;
    padding-bottom: 8px;
}


/*Modal*/
#modalTitulo{
    color: #4a4c76;
    font-weight: 300;
}
#modalDescripcion{
    margin-bottom: 10px;
    margin-top: 10px;
}
    #modalDescripcion h5{
        color: #4a4c76;
    }
#modalCaracteristicas {
    color: #4e4e4e;
}
    #modalCaracteristicas h5{
        color: #4a4c76;
    }
    #modalCaracteristicas h6{
        color: black;
        margin-bottom: inherit;
        display: inline; /*Evita un salto de linea*/
    }
    #modalCaracteristicas li{
        list-style-type: none;
    }
#modalBotonCerrar:hover{
    background-color: black;
    color: white;
}
#modalContacto{
    right: 10%;
    position: absolute;
}
#modalNotasAdicionales{
    font-size: 10px;
    color: black;
}


.filter-blue{
    filter: invert(31%) sepia(10%) saturate(1835%) hue-rotate(199deg) brightness(93%) contrast(93%);
}

.select{
    transition: 0.5s;
}

.select:hover{
    transform:scale(1.08);
    -ms-transform:scale(1.08);
}

/*Dentro del carrousel*/
.carrouselImg{
    height: 300px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.modal-dialog{
    min-width: 50%;
}

/*Barra de busqueda*/
.busqueda{
    width: 60%;
    margin-left: 3%;
    margin-top: 1%;
}
.barraBusqueda{
    display: flex;
}
.tituloBusqueda{
    color: #4a4c76;
    font-weight: 700;
}
#input{
    max-width: 400px;
    min-width: 200px;
}

/*Orden y filtros*/
.orden{
    right: 5%;
    /* margin-top: 40px; */
    top: 300px;
    width: 30%;
    min-width: 130px;
}
    #ordenField{
       margin-bottom: 10px;
       text-align: center;
    }
    .orden a{
        text-decoration: none;
        color: #4a4c76;
        padding-left: 5px;
        padding-right: 5px;
        transition-duration: 100ms;
    }
    .orden a:hover{
        color: white;
        background-color: #4a4c76;
        border-radius: 5px;
        /* font-weight: 600; */
    }
    #botonInvertir{
        text-align: center;
    }

.botonInsertar{
    right: 5%;
    margin-top: 40px;
    top: 300px;
    width: 30%;
    min-width: 130px;
    margin-left: 50px;
}